#equipment_list_col {
	background: red;
}

/*FILE UPLOAD*/
.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}
form .progress {
    line-height: 15px;
}

/*equipment view*/
.individual_equipment {
    box-sizing: border-box;
	width: 30%;
	border: 2px solid black;
	margin: 10px 5px;
}

.individual_equipment:hover {
    border: 7px solid blue;
}

.individual_equipment img {
	width: 100%;
}