<article class="create">
	<div class="col m3" id="side_bar">
		<div><a href="/#/add_equipment"><button id="add_equipment">Add equipment to rent</button></a></div>
		<div><a href="/#/view_inventory"><button id="view_inventory">View your equipment</button></a></div>
		<div><a href="/#/profile"><button id="view_profile">Profile</button></a></div>
		<div><a href="/#/notifications"><button id="view_profile">Notifications</button></a></div>

	</div>

	<div id="equipment_list_col" class="col m9">
		<h1>Post new Action Figure</h1>
		<div>    
		    <label for="name">Figurine Name</label>
		    <input type="text" name="name" ng-model="figurine.Name">
		</div>
		<div>    
		    <label for="name">Quality</label>
		    <input type="text" name="quality" ng-model="figurine.Quality">
		</div>
		<div>    
		    <label for="name">Height</label>
		    <input type="text" name="height" ng-model="figurine.Height">
		</div>
		<div>    
		    <label for="name">Weight</label>
		    <input type="text" name="weight" ng-model="figurine.Weight">
		</div>
		<div>    
		    <label for="name">Year</label>
		    <input type="text" name="year" ng-model="figurine.Year">
		</div>
		<div>    
		    <label for="name">Price</label>
		    <input type="text" name="price" ng-model="figurine.Price">
		</div>
		<div>    
		    <label for="name">Quantity</label>
		    <input type="text" name="quantity" ng-model="figurine.Quantity">
		</div>
		<div>    
		    <label for="name">Description</label>
		    <input type="text" name="description" ng-model="figurine.Description">
		</div>

		<input type="hidden" name="geekId" ng-model="figurine.geekId">
		<button ng-click="createFigurine()">Sell Your Figurine</button>
	</div>
</article>


