<article class="full_container">
	<div class="col m3" id="side_bar">
		<h1 class="logo_abb">SN'S</h1>
		<div><a href="/#/homepage"><button class="waves-effect waves-light btn" id="view_profile">All Equipment</button></a></div>
		<div><a href="/#/add_equipment"><button class="waves-effect waves-light btn" id="add_equipment">Add equipment to rent</button></a></div>
		<div><a href="/#/view_inventory"><button class="waves-effect waves-light btn" id="view_inventory">Inventory</button></a></div>
		<div><a href="/#/profile"><button class="waves-effect waves-light btn" id="view_profile">Profile</button></a></div>
		<div><a href="/#/notifications"><button class="waves-effect waves-light btn" id="view_profile">Notifications</button></a></div>
		<div><a href="/#/confirmed_rental_dates"><button class="waves-effect waves-light btn" id="view_profile">Confirmed Dates</button></a></div>
	</div>

	<div class="col m9 main_container">
		<section>
			<header><h2 class="h1_tag">{{ equipment.name }}</h2></header>
		  	<div class="col m3">
		  		<p class="musician_on_equ_page" ng-click="goToPerson(equipment.musicianID)">{{ equipment.musician }}</p>
		  		<img ng-model="currImage" class="detials_img" ng-click="showImgModal()" ng-src="{{ currImage }}" alt="">
		  		<div class="row">
		  			<div class="thumb_nail_img_div" ng-repeat="pic in equipment.picList">
		  				<img class="thumb_nail_img" ng-click="displayImg(pic.image)" ng-src="{{ pic.image }}" alt="">
		  			</div>
		  		</div>
		  		<p>Description:</p>
		  		<p>{{ equipment.description }}</p>
		  		 	<!-- Modal Trigger -->
					<button class="waves-effect waves-light btn modal-trigger" href="#modal1">Rent Request</button>
		  	</div>
		</section>
	</div>
</article>


  <!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
      	<h4>{{ equipment.name }}</h4>
      	<p><img class="modal_img" ng-src="{{ equipment.picList[0].image }}" alt=""></p>
      	<p class="black_text">{{ equipment.description }}</p>
		<div class="row">
			<div class="col m6"><p class="black_text">Select Checkout Day:</p></div>
			<div class="col m6"><input class="datepicker" ng-model="rentalDates.check_OUT_date" type="date" min="2016-06-18"></div>
		</div>
		<div class="row">
			<div class="col m6"><p class="black_text">Select Checkin Day:</p></div>
			<div class="col m6"><input class="datepicker" ng-model="rentalDates.check_IN_date" type="date" min="2016-06-18"></div>
		</div>
	    <div ng-if="EQMusicianID !== MusicianID" class="modal-footer">
	      	<button ng-click="requestRent(equipment.musicianID)" class="modal-action modal-close waves-effect waves-green btn-flat">Submit Rental Request</button>
	    </div>
	    <div ng-if="EQMusicianID === MusicianID" class="modal-footer">
	      	<a href="/#/view_inventory"><button class=" modal-action modal-close waves-effect waves-green btn-flat">View Inventory</button></a>
	    </div>
    </div>
</div>
