<article class="user_notifications">
	<div class="row">
		<div class="col m3" id="side_bar">
			<div><a href="/#/add_equipment"><button id="add_equipment">Add equipment to rent</button></a></div>
			<div><a href="/#/view_inventory"><button id="view_inventory">View your equipment</button></a></div>
			<div><a href="/#/profile"><button id="view_profile">Profile</button></a></div>
			<div><a href="/#/notifications"><button id="view_profile">Notifications</button></a></div>
		</div>

		<div id="notifications_col" class="col m9">
			<section ng-model="notifications">
				<h2>Notifications:</h2>
			  	<hr/>
			  	<div ng-repeat="note in allNotifications">
					<div class="row">
						<h3>From: {{note.sender}}</h3>
						<h5>--{{note.description}}</h5>
						<!-- hidden from to access the notification when deleting -->
						<input type="hidden" value="{{note.ID}}">
						<button ng-click="gotIt()" ng-if="note.newRentalRequest === true">got it</button>
						<button ng-click="viewInventory()" ng-if="note.newRentalRequest === false">view inventory</button>
					</div>
					<hr/>
			  	</div>
			</section>
		</div>
	</div>
</article>