<article class="full_container">
	<div class="col m3" id="side_bar">
		<div><a href="/#/homepage"><button class="waves-effect waves-light btn" id="view_profile">All Equipment</button></a></div>
		<div><a href="/#/add_equipment"><button class="waves-effect waves-light btn" id="add_equipment">Add equipment to rent</button></a></div>
		<div><a href="/#/view_inventory"><button class="waves-effect waves-light btn" id="view_inventory">Your equipment</button></a></div>
		<div><a href="/#/profile"><button class="waves-effect waves-light btn" id="view_profile">Profile</button></a></div>
		<div><a href="/#/notifications"><button class="waves-effect waves-light btn" id="view_profile">Notifications</button></a></div>
	</div>

	<div class="col m9 main_container">
		<section ng-model="currUser">
			<header><h1>{{currUser.userName}}'s Profile:</h1></header>
			<div class="container">
			  	<h5>{{currUser.city}}, {{currUser.state}}</h5>
			  	<h5>About: {{currUser.description}}</h5>
			  	<h5>Rating: {{currUser.rating}}</h5>
		  	</div>
		  	<button class="mybutton waves-effect waves-light btn" ng-click="hideEdit = !hideEdit">edit profile</button>
		  	<div id="edit_user" ng-show="hideEdit" class="container hidden">
			  	UserName:<input ng-model="currUser.userName" type="text">
			  	Email:<input ng-model="currUser.email" type="text">
			  	City:<input ng-model="currUser.city" type="text">
			  	State:<input ng-model="currUser.state" type="text">
			  	About:<input ng-model="currUser.description" type="text">
			  	<button class="mybutton waves-effect waves-light btn" ng-click="saveChanges(); hideEdit = !hideEdit">save changes</button>
		  	</div>
		</section>
		<hr class="hr_profile">
		<hr>
		<section class="user_comments">
			<h4>Comments:</h4>
			<div class="message" ng-repeat="comm in allComments">
				<p class="message_p">{{ comm.date }}</p>
				<p class="message_p">{{ comm.message }}</p>
				<p ng-click="goToPerson(comm.SenderId)" class="message_p">{{ comm.sender }}</p>
			</div>
		</section>
	</div>
</article>