<div class="login">
    <h3>Register</h3>
    <button class="mybutton waves-effect waves-light btn" ng-click="githubOauth()">Sign in with Github</button>
    <h5>- or -</h5>
	<section>
        <div class="input-field col s12">
            <input ng-model="dataFromFireUser.userName" id="sign_up_userName" type="text">
            <label for="email">User Name</label>
        </div>

        <div class="input-field col s12">
            <input ng-model="dataFromFireUser.email" id="sign_up_email" type="email">
            <label for="email">Email</label>
        </div>

        <div class="input-field col s12">
            <input ng-model="dataFromFireUser.password" id="sign_up_password" type="password">
            <label for="email">Password</label>
        </div>
        
        <div class="input-field col s12">
            <input ng-model="dataFromFireUser.city" id="sign_up_userCity" type="text">
            <label for="email">City</label>
        </div>

        <div class="input-field col s12">
            <input ng-model="dataFromFireUser.state" id="sign_up_userState" type="text">
            <label for="email">State</label>
        </div>

      	<div class="button_div">
        	<button id="login_up_BTN" class="mybutton waves-effect waves-light btn">Login</button>
        	<button id="sign_up_BTN" class="mybutton waves-effect waves-light btn">Sign Up</button>
      	</div>
    </section>
    <!-- <button ng-click="hideEdit = !hideEdit">edit profile</button>
    <div id="edit_user" ng-show="hideEdit" class="container hidden">
      UserName:<input ng-model="currUser.userName" type="text">
      UserName:<input ng-model="currUser.email" type="text">
      City:<input ng-model="currUser.city" type="text">
      State:<input ng-model="currUser.state" type="text">
      About:<input ng-model="currUser.description" type="text">
      <button ng-click="saveChanges(); hideEdit = !hideEdit">save changes</button> -->
    </div>
</div>