<article class="user_profile">
	<div class="row">
		<div class="col m3" id="side_bar">
			<div><a href="/#/add_equipment"><button id="add_equipment">Add equipment to rent</button></a></div>
			<div><a href="/#/view_inventory"><button id="view_inventory">View your equipment</button></a></div>
			<div ng-model="currUser"><a href="/#/user_page/{{$currUser.IdMusician}}"><button id="view_inventory">Profile</button></a></div>
		</div>

		<div id="user_col" class="col m9">
			<section ng-model="selectedUser">
				<header><h1>{{selectedUser.userName}}'s Profile:</h1></header>
				<div class="container">
				  	<h5>City: {{selectedUser.city}}, {{selectedUser.state}}</h5>
				  	<h5>About: {{selectedUser.description}}</h5>
				  	<h5>Rating: {{selectedUser.rating}}</h5>
				  	<button ng-if="currUser.IdMusician === currSelectedUserId">Edit</button>
			  	</div>
			  	<div id="edit_user" class="container hidden">
				  	<input type="text">City: {{selectedUser.city}}
				  	<input type="text">State: {{selectedUser.state}}
				  	<input type="text">About: {{selectedUser.description}}
				  	<input type="text">UserName: {{selectedUser.userName}}
			  	</div>
			</section>
		</div>
	</div>
</article>