<article class="full_container">
	<div class="col m3" id="side_bar">
		<h1 class="logo_abb">SN'S</h1>
		<div><a href="/#/homepage"><button class="waves-effect waves-light btn" id="view_profile">All Equipment</button></a></div>
		<div><a href="/#/add_equipment"><button class="waves-effect waves-light btn" id="add_equipment">Add equipment to rent</button></a></div>
		<div><a href="/#/view_inventory"><button class="waves-effect waves-light btn" id="view_inventory">Your equipment</button></a></div>
		<div><a href="/#/profile"><button class="waves-effect waves-light btn" id="view_profile">Profile</button></a></div>
		<div><a href="/#/notifications"><button class="waves-effect waves-light btn" id="view_profile">Notifications</button></a></div>
		<div><a href="/#/confirmed_rental_dates"><button class="waves-effect waves-light btn" id="view_profile">Confirmed Dates</button></a></div>
	</div>

	<div class="col m9 main_container">
		<section ng-model="selectedUser">
			<header><h1>{{selectedUser.userName}}'s Profile:</h1></header>
			<div class="container">
			  	<h5>City: {{selectedUser.city}}, {{selectedUser.state}}</h5>
			  	<h5>About: {{selectedUser.description}}</h5>
			  	<h5>Rating: {{selectedUser.rating}}</h5>
		  	</div>
		</section>
		<section class="user_comments">
			<h4>Comments:</h4>
			<div class="message" ng-repeat="comm in allComments">
				<p class="message_p">{{ comm.date }}</p>
				<p class="message_p">{{ comm.message }}</p>
				<p ng-click="goToPerson(comm.SenderId)" class="message_p musician_on_equ_page">{{ comm.sender }}</p>
			</div>
		</section>
		<hr>
		<hr>
		<section class="add_comment">
			<h4>Leave A Comment:</h4>
			<div class="input-field row message_div">
	            <div class="col m9">
		            <input ng-model="newComment.message" id="message" type="text">
		            <label for="message">message</label>
	            </div>
	            <div class="col m3">
	        		<button ng-click="leaveAComment()" class="waves-effect waves-light btn">sumbit</button>
	            </div>
	        </div>
		</section>
	</div>
</article>